@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@font-face {
    font-family: 'TheMarmalade-Bold';
    src: url('/assets/fonts/TheMarmalade-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
@tailwind base;
@tailwind components;
@tailwind utilities;

