@font-face {
    font-family: 'Bahnhof Black'; /* Custom font name */
    src: url('./assets/fonts/BahnhofBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@tailwind base;
@tailwind components;
@tailwind utilities;

